body,
body * {
   background: #f8f8f8;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: top;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main {
  display: inline-block;
  width: 1000px;
  margin-left: calc((100% - 1000px) / 2);
}

    header {
  display: inline-block;

  width: 100%;
  height: 80px;
    }

        header > img {
  display: inline-block;
  float: left;
  height: 50px;
  margin-top: 15px;
        }

        header > nav {
  display: inline-block;
  float: right;
  height: 30px;
  margin-top: 25px;
        }

            header > nav > a {
  display: inline-block;
  text-decoration: none;
  color: gray;
  margin-left: 30px;
  font-size: 18px;
            }

            .signin {
  border: 2px solid grey;
  padding: 3px 15px;
  border-radius: 15px;
  margin-top: -2px;
  text-transform: uppercase;
}

    section {
  display: inline-block;
  width: 100%;
  padding: 20px;
  margin-top: 50px;
}

        div {
  display: inline-block;
  width: 45%;
  margin-top: 60px;
}

            h1 {
  display: inline-block;
  width: 100%;
  font-size: 80px;
  color: grey;
}

            p {
  display: inline-block;
  width: 100%;
  font-size: 30px;
  color: grey;
}

        section img {
  display: inline-block;
  width: 45%;
  float: right;
}

@media (max-width: 1050px) {
  main {
    width: 700px;
    margin-left: calc((100% - 700px) / 2);
    margin-right: calc((100% - 700px) / 2);
  }

  section img {
    margin-top: 10%;
  }
}

@media (max-width: 700px) {
  main {
    width: 570px;
    margin-left: calc((100% - 570px) / 2);
    margin-right: calc((100% - 570px) / 2);
  }
  section img {
    margin-top: 20%;
  }
}

@media (max-width: 570px) {
  main {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  header {
    height: 220px;
  }
  header > img {
    margin-left: calc((100% - 70px) / 2);
    margin-right: calc((100% - 70px) / 2);
    
  }
  header > nav {
    width: 100%;
    text-align: center;
    
  }
  header > nav > a {
    width: 100%;
    margin-left: 0;
    line-height: 30px;
  }
  .signin {
    width: 35%;
    
  }

  div {
    width: 100%;
    text-align: center;
  }

  section img {
    width: 100%;
  }
}
